@import 'vars';
@import 'global';
@import 'fonts';


@media (max-width:1700px){
    .about{
        &__img{
            margin-left: 30px;
            img{
                max-width: 760px;
                min-height: 430px;
            }
        }
    }
}

@media (max-width:1470px){
    .about{
        &__img{
            margin-left: 15px;
            img{
                max-width: 660px;
                min-height: 400px;
            }
        }
    }
    
}


@media (max-width:1270px){
    .about{
        &__img{
            margin-left: 15px;
            img{
                max-width: 100%;
                min-height: 100%;
            }
        }
        &__inner{
            max-width: 1100px;
            border-radius: 40px;
            top: -100px;
            left: 5%;
            right: 5%;
            position: absolute;
            background-color: #5d62b5;
            padding: 80px 50px 20px;
            
        }
    }

    .advantages__inner{
        margin-bottom: 60px;
    }

    .videobox{
        @include ibg;
        min-height: 400px;
        margin-bottom: 50px;
        &__inner{
            position: absolute;
            top: 20%;
            right: 20%;
        }
        &-title{
            font-size: 30px;
            line-height: 36px;
            font-weight: 900;
            color: #fff;
            text-shadow: #000 1px 1px 0, #000 -1px -1px 0, 
            #000 -1px 1px 0, #000 1px -1px 0;
            max-width: 340px;
            margin-bottom: 30px;
        }
        &-icon{
            width: 100px;
            height: 100px;
            @include ibg;
        }
    
    }

    .advantages{
        margin-top: 650px;
    }
}


@media (max-width:1100px){
    .advantages__inner{
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 60px;
    }
    .advantages{
        margin-top: 650px;
    }
    .advantages__item{
    margin-top: 40px;
    }

    .title{
        text-align: center;
    }
        
    .videobox{
        min-height: 300px;
        margin-bottom: 50px;
        
        &-title{
            font-size: 24px;
            line-height: 30px;
            max-width: 300px;
            
        }
        &-icon{
            width: 80px;
            height: 80px;
            @include ibg;
        }
    }

}

@media (max-width:1050px){
    .services{
        &__inner{
            display: flex;
            justify-content: space-around;
            margin-bottom: 50px;
        }
        &__item{
            margin-left: 10px;
        }
    }
    .appointment{
        &__form{
            form{
                button{
                    margin-left: 150px;
                }
            }
        }
    }

    .galary{
        &__inner{
            margin: 0 auto;
            max-width: 1100px;
            border-radius: 40px;
            background-color: #fff;
            padding: 50px 120px 50px;
        }
    }
    
    
    .galary__item{
        margin: 0 auto;
        &-img{
            width: 100%;
            height: 400px;
            @include ibg;
        }
    }

    .progress{
        min-height: 400px;
    
        &__inner{
            padding-top: 80px;
        }
    
        &__title{
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 70px;
            padding: 15px;
        }
    
        
        &__box{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            
        }
        &__item{
            display: flex;
            align-items: center;
            margin-top: 20px;
            width: 240px;
            
            &-img{
                margin: 5px 7px 5px 7px;
                width: 50px;
                height: 50px;
                @include ibg;
            }
        }
        &__info{
            background-color: #fff;
            
            width: 100%;
            padding: 10px 10px;
            &-count{
                font-size: 24px;
                line-height: 30px;
            }
            &-text{
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    .progress__top-img{
        width: 400px;
        height: 200px;
        top: -50px; 
        
    }

}

@media (max-width:950px){
    .appointment{
        min-height: 600px;
        padding-top: 80px;
        .title{
            font-size: 24px;
        }
        &__form{
            max-width: 50%;                                                                                                                                                                                                                                                           
            //width: 100%;
            form{
                padding: 15px 30px 15px;
                text-align: center;
                input{
                    padding: 10px 10px;
                    margin-bottom: 15px;
                    font-size: 14px;
                }
                textarea{
                    padding: 10px 10px;
                    font-size: 14px;
                }
                button{
                    margin-left: 200px;
                    font-size: 12px;
                    padding: 10px 40px 10px 20px;
                }
            }
        }
    }
    
    .appointment__inf{
        padding: 30px 0px 30px;
        text-align: center;
        &-title{
            font-size: 40px;
            line-height: 40px;
            margin-bottom: 85px;
        }
        &-count{
            font-size: 56px;
            line-height: 56px;
            margin-bottom: 50px;
        }
        &-text{
            font-size: 24px;
            line-height: 30px;
            max-width: 200px;
        }
    }
    
    .advantages{
        margin-top: 600px;
    }
}

@media (max-width:920px){
    .galary__item{
        margin: 0 auto;
        &-img{
            height: 300px;
        }
    }
    .galary__box.slick-initialized.slick-slider{
        width: 100%;
    }
    
}


@media (max-width:850px){
    .advantages{
        margin-top: 650px;
    }
}

@media (max-width:800px){
    .appointment{
        min-height: 400px;
        padding-top: 30px;
        .title{
            font-size: 24px;
        }
        &__form{
            max-width: 600px;                                                                                                                                                                                                                                                           
            width: 100%;
            form{
                button{
                    margin-left: 300px;
                }
            }
        }
    }
    
    .appointment__inf{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        padding: 50px 0px;
        text-align: center;
        &-title{
            font-size: 40px;
            line-height: 40px;
            margin-bottom: 0px;
        }
        &-count{
            font-size: 56px;
            line-height: 56px;
            margin-left: 30px;
            margin-right: 30px;
            margin-bottom: 0px;
        }
        &-text{
            font-size: 24px;
            line-height: 30px;
            max-width: 200px;
        }
    }
    .advantages{
        margin-top: 550px;
    }
}

@media (max-width:780px){

    .footer__menu-box{
        margin-top: 40px;
    }

    

}

@media (max-width:750px){
    .header__inf{
        .header__link{
            display: none;
        }
        top: 12px;
        
    }

    .menu__btn{
        position: absolute;
        left: 0;
        top: 20px;
        display: inline-block;
        cursor: pointer;
        div{
            margin-right: auto;
            height: 5px;
            width: 30px;
            margin: 5px;
            background-color: #f2726f;
        }
        border: 1px solid $text;
        margin-right: 0px;
    }

    .menu{
        display: none;
        position: absolute;
        z-index: 1;
        top: 80px;
        left: -15px;
        ul{
            width: 100vw;
            li{
                display: block;
                background-color: #fff;
                border-bottom: 1px solid #000;
                padding: 0px 0px;
                text-align: center;
                a{
                    width: 100%;
                    color: #f2726f;
                    padding: 15px 0px;
                    font-size: 14px;
                    line-height: 18px;
                    &:hover{
                        color: #f2726f;
                    }
                }
                &+li{
                    margin-left: 0;
                }
                &:first-child{
                    border-top: 1px solid #000;
                }
            }
        }
    }
    .header__menu-box{
        background-color: transparent;
        margin-top: 10px;
        border: none;
    }
    .header{
        min-height: 600px;
    }
    
    .galary{
        &__inner{
            padding: 50px 50px 50px;
        }
    }
    .progress__top-img{
        display: none;
        
    }
    
}
@media (max-width:720px){
    .advantages{
        margin-top: 600px;
    }
    .services{
        &__item{
            text-align: center;
            max-width: 250px;
            width: 100%;
            background-color: #fff;
            margin-top: 15px;
            padding: 20px 10px;
            &-img{
              width: 40px;
              height: 40px;
              
            }
            &-title{
                font-size: 16px;
                font-weight: 900;
                line-height: 20px;
                margin-bottom: 15px;
                color: $blue;
                margin-top: 15px;
            }
            &-text{
                font-size: 12px;
            }
        }
    }
    .review__slider{
        max-width: 90%;
    }
        

}

@media (max-width:705px){
    .appointment__box-link{
        margin-top: 15px;
    }
    .advantages{
        margin-top: 500px;
    }
}

@media (max-width:650px){
    .videobox{
        min-height: 250px;
        margin-bottom: 20px;
        &__inner{
            top: 20%;
            right: 8%;
        }
        &-title{
            font-size: 24px;
            line-height: 30px;
            max-width: 300px;
            
        }
        &-icon{
            width: 80px;
            height: 80px;
            @include ibg;
        }
    }
}

@media (max-width:610px){
    .header__title{
        margin-left: 10px;
        color: $blue;
        margin-top: 60px;
        margin-bottom: 35px;
    
        &-name{
            font-size: 40px;
            line-height: 50px;
        }
        &-city{
            font-size: 20px;
            line-height: 30px;
        }
    }
}

@media (max-width:580px){
    .appointment{
        min-height: 300px;
        padding-top: 30px;
        
        &__form{
            max-width: 600px;                                                                                                                                                                                                                                                           
            width: 100%;
            form{
                button{
                    margin-left: 0px;
                }
                textarea{
                    height: 100px;
                }
            }
        }
    }
    
    .appointment__inf{
        
        padding: 50px 0px 20px;
        text-align: center;
        &-title{
            font-size: 35px;
            line-height: 35px;
            margin-bottom: 0px;
        }
        &-count{
            font-size: 40px;
            line-height: 40px;
            margin-left: 30px;
            margin-right: 30px;
            margin-bottom: 0px;
        }
        &-text{
            font-size: 20px;
            line-height: 20px;
            max-width: 200px;
        }
    }
}

@media (max-width:560px){
    .header__title{
        margin-left: 10px;
        color: $blue;
        margin-top: 60px;
        margin-bottom: 35px;
     
        &-name{
            font-size: 40px;
            line-height: 50px;
        }
        &-city{
            font-size: 20px;
            line-height: 30px;
        }
    }
    .header__phonebox{
        display: none;
    }

    .header{
        min-height: 400px;
    }
    .header__inf{
        display: none;
    }
    .menu__btn{
        position: absolute;
        left: auto;
        right: 0;
        top: 20px;
    }

    .about{
        &__text{
            padding: 10px;
            margin-bottom: 15px;
            font-size: 14px;
        }
        &__inner{
            top: -100px;
            padding: 50px 30px 20px;
        }
    }
    
    .title{
        font-size: 30px;
        line-height: 36px;
        font-weight: 900;
        color: $blue;
        margin-bottom: 20px;
    }

    .advantages{
        margin-top: 520px;
        &__inner{
            margin-top: 10px;
            margin-bottom: 50px;
        }
    }

    .progress{
        min-height: 340px;
        &__inner{
            padding-top: 20px;
            margin-bottom: 10px;
        }
        &__title{
            margin-bottom: 20px;
        }
    }

    .advantages{
        margin-top: 400px;
    }
}

@media (max-width:500px){
    .videobox{
        min-height: 200px;
        margin-bottom: 20px;
        &__inner{
            top: 15%;
            right: 0%;
        }
        &-title{
            font-size: 24px;
            line-height: 30px;
            max-width: 300px;
            margin-bottom: 10px;
        }
        &-icon{
            width: 60px;
            height: 60px;
        }
    }
    .review__item{
        padding: 20px;
        font-size: 14px;
    }
    .progress__title{
        font-size: 25px;
    }
}


@media (max-width:470px){
    .appointment__inf-text{
        margin-top: 20px;
    }
    .galary{
        &__inner{
            padding: 30px;
        }
    }
    .galary__item{
        &-img{
            height: 300px;
        }
    }

    .galary__item{
        &-img{
            height: 250px;
        }
    }
    
}

@media (max-width:454px){
    .footer__contact-box{
        margin-top: 40px;
    }
}

@media (max-width:400px){
    .about{
        &__text{
            padding: 7px;
            margin-bottom: 10px;
            font-size: 12px;
        }
        &__inner{
            top: -80px;
            padding: 30px 20px 20px;
        }
    }
    
    .title{
        font-size: 24px;
        line-height: 28px;
        font-weight: 900;
        color: $blue;
        margin-bottom: 20px;
    }

    .advantages{
        margin-top: 500px;
        &__inner{
            margin-top: 0px;
            margin-bottom: 50px;
        }
        &__item{
            &-img{
                width: 50px;
                height: 50px;
                @include ibg;
            }
            &-info{
                max-width: 200px;
                margin-left: 10px;
                font-size: 14px;
                text-align: justify;
            }
            &-title{
                font-size: 19px;
                font-weight: 900;
                line-height: 20px;
                color: $blue;
                margin-bottom: 20px;
            }
        }
    }
    .advantages{
        margin-top: 500px;
        &__inner{
            margin-top: 0px;
            margin-bottom: 30px;
        }
    }
    .advantages{
        margin-top: 350px;
    }
}


@media (max-width:350px){
    .link__btn{
        font-size: 10px;
    }
    .appointment__inf-title{
        font-size: 25px;
        text-shadow: #000 1px 1px 0, #000 -1px -1px 0, 
      #000 -1px 1px 0, #000 1px -1px 0;
    }
    .appointment__inf-count{
        color: $blue;
        text-shadow: #fff 1px 1px 0, #fff -1px -1px 0, 
      #fff -1px 1px 0, #fff 1px -1px 0;
    }
}




///  end

@media (min-width: 751px){
    .header__menu-box{
        background: #fff;
        margin-top: 80px;
        border: 1px solid #f2726f ;
    
    }
    .menu{
        display: block;
        ul{
            li{
                display: inline;
                a{
                    text-align: center;
                    padding: 18px 0px;
                    width: 16.2%;
                    font-size: 17px;
                    line-height: 22px;
                    font-weight: 700;
                    color: #000;
                    outline: none;
                    &:hover{
                        background-color: #f2726f;
                        color: #fff;
                    }
                }
                
            }
        }
    }
    
}